# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ForJava\Belyavsky's problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
